.main-container
  display: flex
  justify-content: center
  align-content: center
  .list
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 90%
    +from($width-600)
      width: 90%
    +from($width-1200)
      width: 1200px
  .item
    padding: 12px
    display: flex
    flex-direction: column
    width: inherit
    +from($width-600)
      width: auto
    +from($width-1200)
      width: 276px
  .title
    text-align: center
    background-color: aliceblue
    font-size: 20px
    height: 50px
    line-height: 50px
